# ignore everything but what's inside /Homework/
*
!*/
!README.md
!.gitignore
!/Project/**
!/Homework/**
!/Paper-Reviews/**

# ignore .vscode files
*.vscode

# ignore .zip compressed folders
*.zip

# ignore .gz compressed folders
*.gz

# ignore data batches
*batches-py
*lfw-py

# ignore .pth files
*.pth
